<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>404 error | Page Not Found </title>
      <link rel="shortcut icon" href="../static/images/githubicon.png" sizes="400x400">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
         body{
         background-image: url(../static/images/home_sec.jpg);
         width:100%;
         height: auto;
         background-repeat: no-repeat;
         /* background-attachment: relative; */
         background-size: cover;
         }
         button{
         margin-top: 30%;
         }
      </style>
   </head>
   <body>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
               <div class="text-center">
                  <a href="/"><button type="button" class="btn btn-outline-light">Go to Homepage</button></a>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
